<div class="col-10 offset-1 about">
  <h1>About Splurty </h1>
  
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/willd0">Will</a> a new developer who is on a mission to learn more about coding.
  </p>
  <br />
  <p>
    He has worked on several coding challenges using Html and Ruby and is continuing to learn about code through the help of the SMU coding bootcamp.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
</div>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'me.jpg', class: 'img-fluid' %>
  </div>
  
  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Will Daskam</h2>
    <br />
    <p>
      Will Daskam is an aspiring web developer. Previously he was an Information technology student at the University of Texas at Dallas. Some past projects he has worked on include defining system requirements for a parking application and creating a dashboard for a property management company.
    </p>
  </div>
</div>
<br class ="clear" />
<br />
<br />
<br />
<br />